<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entrez les dates</title>
    <style>
        /* Vos styles CSS ici */
    </style>
</head>
<body>
    <div class="container">
        <h4>Entrez les dates pour la recherche des interlocuteurs de  {{ employee.firstname }} {{ employee.lastname }}</h4>
        <form id="datesForm" method="POST" action="{% url 'dates' %}">
            {% csrf_token %}
            <input type="hidden" name="employee_id" value="{{ employee.id }}">
            <div class="form-group">
                <label for="date_debut"> Date de début: </label>
                <input type="date" id="date_debut" name="date_debut">
            </div>
            <div class="form-group">
                <label for="date_fin"> Date de fin: </label>
                <input type="date" id="date_fin" name="date_fin">
            </div>
            <button type="submit"> Soumettre </button>
        </form>
    </div>
    
</body>
</html>
