<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>details </title>
</head>
<body>
         <div class="container">
            <p> Hello world    x= {{x}}  - date de début {{date_debut}}  - date de fin {{date_fin}} </p>
            {% if resultat %}
                <h1>Détails</h1>  
                <ul>

                    {% for employe in resultat %}
                        <li>Employé : {{ employe}} </li>
                        <li> Nombre de mails envoyés : {{employee.1}}</li>
                        <li> Nombre de mails reçus : {{employee.2}}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>

        <div id='results' style="display: flex; justify-content: center;" >
            <div class="back-button">
                <button> <a href='{% url "index" %}'> Retour à la page d'accueil </a></button>
            </div>
    
        </div>        


</body>
</html>
