<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Détails de communication</title>
</head>
<body>
    <h1>Détails de communication pour {{ employee.firstname }} {{ employee.lastname }}</h1>
    <p>Période : {{ date_debut }} à {{ date_fin }}</p>

    <!-- Affichez ici les détails de communication de l'employé pour la période spécifiée -->
</body>
</html>
