<! DOCTYPE html>
<head>
    <title>Informations sur les employés</title>
</head>

<body>
    <img src="C:\Users\utilisateur\Desktop\BDDR\projetBDDR\projetBDDR\image.jpg"  alt="hey" width=70% >
    <h1> Bienvenue sur notre application </h1>
</body>

</html>