<!DOCTYPE html>
<html>
<head> 
  <title>Liste des employés d'Enron</title>
  <style>   
    table.mon_tableau  {
        border-collapse: collapse;
        width: 100%;
    }
    table.mon_tableau td, table.mon_tableau th {
       border: 1px solid #555;
       padding: 8px;
       font-family: "Arial", sans-serif;
       font-size: 14px;
    }
    table.mon_tableau th {
       background-color: #f5ba67;
    }
    table.mon_tableau tr:nth-child(even)  {background-color: #f7e5bc;}
    table.mon_tableau tr:nth-child(odd) {background-color: #f5cb6c;}
    
    /* Style ajouté avec JavaScript */
    .highlighted {
        background-color: yellow;
    }
  </style>
</head>

<body> 

<h1>Listes des employés</h1>
{% if rien %}
  Aucune page n'a été consulté
{% else %}
  <table class="mon_tableau">
    <th>
      <td><strong>Identifiant</strong></td> 
      <td><strong>Nom</strong></td>
      <td><strong>Prénom</strong></td>
      <td><strong>Profession</strong></td>
      <td><strong>Mailbox</strong></td>
    </th>
  {% for e in listeEmployes %}
    <tr>
      <td>{{ e.id }} </td>
      <td>{{ e.lastname }} </td>
      <td>{{ e.firstname }} </td>
      <td>{{ e.lastname }} </td>
      <td>{{ e.category }} </td>
      <td>{{ e.mailbox }} </td>
    </tr>
   {% endfor %}
  </table>
{% endif %}

</body>
</html>