<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recherche d'employé</title>
</head>
<body>
    <h1>Recherche d'employé</h1>
    <form method="post">
        {% csrf_token %}
        {{ form }}
        <button type="submit">Rechercher</button>
    </form>

    {% if employees %}
        <h2>Résultats de la recherche :</h2>
        <ul>
            {% for employee in employees %}
                <li>
                    <form method="post" action="{% url 'details_communication' %}">
                        {% csrf_token %}
                        <input type="hidden" name="employee_id" value="{{ employee.id }}">
                        <input type="hidden" name="date_debut" value="{{ date_debut }}">
                        <input type="hidden" name="date_fin" value="{{ date_fin }}">
                        <button type="submit">Voir détails de communication pour {{ employee.firstname }} {{ employee.lastname }}</button>
                    </form>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
</body>
</html>
