<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Recherche </title>
    <style>
        body {
            margin: 0;
            padding: 0;
            font-family: Helvetica, sans-serif;
        }

        .container {
            max-width: 100%;
            margin: auto;
            padding: 30px;
            text-align: start;
        }


        /* Créez une grille pour aligner les boîtes */
        .grid {
            display: flexbox;
            grid-template-columns: repeat(auto-fill, minmax(20px, 1fr));
            grid-gap: 10px;
        }

        /* Style des boîtes */
        .box {
            padding: 5px;
           
            border-radius: 5px;
            border: 1px solid #ccc;
            width: auto;
        }

        .box-content {
            background-color: #f0f0f0;
            border: 1px solid #ccc;
            border-radius: 5px;
            padding: 10px;
            margin-bottom: 2px;
        }

        .box-content ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
        }

   


        #back {
            max-width: 1000px;
            margin: auto;
            padding: 10px;
            text-align: center;
            
        }
    </style>

</head>

<body>
    <div class="container">
        <h2>Vous pouvez effectuer une recherche selon le nom, le prénom ou une des addresses email de l'employé.</h2>
        <form id="searchForm" method='POST' action='{% url "recherche" %}'>
            {% csrf_token %}
            <input type="text" id="search" name="employee_name_or_email" placeholder="nom, prénom, addresse e-mail">
            <button type="submit">Rechercher</button>
        </form>
    </div>

    <div class="container">
        {% if employees %}
        <h3 style="text-align: center;">Résultats de la recherche</h3>
        <div class="grid">
           
                {% for employee,addresses in employees.items %}
                    <div class="box">
                        <div class="box-content">
                            <p>Nom : {{ employee.lastname}}</p>
                            <p>Prénom : {{ employee.firstname }}</p>
                            <p>Catégorie : {{ employee.category }}</p>
                            <p>Adresses e-mail :
                                {% for ad in addresses %}
                                <ul>
                                    <li>{{ ad.addresse }}</li>
                                </ul>
                                {% endfor %}
                            </p>
                        </div>
                    </div>
                {% endfor %}

        {% else %}
                <p> {{ error_message }} </p>
        {% endif %}
        </div>        

    </div>

    <div id='results' style="display: flex; justify-content: center;" >
        <div class="back-button">
            <button> <a href='{% url "index" %}'> Retour à la page d'accueil </a></button>
        </div>

    </div>

</body>
</html>
