<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Recherche </title>
    <style>
        body{
            margin: 0;
            padding : 0;
            font-family: Helvetica, sans-serif;
        }

        .container {
            max-width: 1000px;
            margin: auto;
            padding: 10px;
            text-align: start;
        }

        #back {
            max-width: 1000px;
            margin: auto;
            padding: 10px;
            text-align: center;
        }

    </style>
</head>

<body>
    <div class="container">
        <h3>Vous pouvez effectuer une recherche selon le nom, le prénom ou une des addresses email de l'employé.</h3>
        <!-- Formulaire de recherche -->
        <form id="searchForm" method='POST' action='{% url "recherche" %}'>
            {% csrf_token %}
            <input type="text" id="search" name="employee_name_or_email" placeholder="nom, prénom, addresse e-mail">
            <button type="submit">Rechercher</button>
        </form>

        <div id="back"> <button> <a href='{% url "index" %}'> Retour à la page d'accueil </a></button> </div> 
    </div>

</body>
</html>
