<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recherche d'employé</title>
    <style>
        /* Vos styles CSS ici */
    </style>
</head>
<body>
    <div class="container">
        <h4>Afin de savoir quel employé a échangé des e-mails avec quel autre, veuillez fournir les informations ci-dessous</h4>
        <form id="communicationForm" method="POST" action="{% url 'echanges' %}">
            {% csrf_token %}
            <div class="form-group">
                <label for="employee">Nom ou adresse e-mail de l'employé:</label>
                <input type="text" id="search" name="employee" placeholder="nom, prénom ou adresse e-mail">
                <button type="submit"> Rechercher </button>
            </div>  
        </form>
        
        
        {% if employees %}
        <h4> L'employé recherché est bien : </h4>
            <form id="selectEmployeeForm" method="POST" action="{% url 'process_dates' %}">
                {% csrf_token %}
                {% for employee in employees %}
                    <div>
                        <input type="radio" id="employee_{{ employee.id }}" name="selected_employee" value="{{ employee.id }}">
                        <label for="employee_{{ employee.id }}">{{ employee.firstname }} {{ employee.lastname }}</label>
                    </div>
                {% endfor %}
                <button type="submit">Sélectionner l'employé</button>
            </form>
        {% endif %}
    </div>

    <div class="container">
        <h4>Entrez les dates pour la recherche des interlocuteurs de  {{ employee.firstname }} {{ employee.lastname }}</h4>
        <form id="datesForm" method="POST" action="{% url 'echanges' %}">
            {% csrf_token %}
            <input type="hidden" name="employee_id" value="{{ employee.id }}">
            <div class="form-group">
                <label for="date_debut"> Date de début: </label>
                <input type="date" id="date_debut" name="date_debut">
            </div>
            <div class="form-group">
                <label for="date_fin"> Date de fin: </label>
                <input type="date" id="date_fin" name="date_fin">
            </div>
            <button type="submit"> Soumettre </button>
        </form>
    </div>


    
    <div id="back">
        <button><a href="{% url 'index' %}">Retour à la page d'accueil</a></button>
    </div>
</body>
</html>
